body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #e0f7fa, #b2ebf2, #80deea);
    color: #333;
    line-height: 1.6;
}

.product-details{
    max-width: 800px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.product-details img{
    max-width: 200px;
    height: auto;
}